src/main/resources/org/openlca/olcatdb/ilcd/resources/schemas/ILCD_LCIAMethodDataSet.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ILCD Format Version 1.1 Schemas Build 946 -->
<!--
Copyright (c) 1995-2009, European Commission. All rights reserved.

This file is part of the ILCD data format. The license conditions for the ILCD data format can be
found in the file ILCD_format_and_editor_license.txt included in this distribution. The license is
also available at http://lca.jrc.ec.europa.eu/eplca/doc/ILCD_format_and_editor_license.txt.
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ilcd="http://lca.jrc.it/ILCD"
           xmlns:common="http://lca.jrc.it/ILCD/Common"
           xmlns:lciamethod="http://lca.jrc.it/ILCD/LCIAMethod"
           xmlns="http://lca.jrc.it/ILCD/LCIAMethod"
           xmlns:edoc="http://www.iai.fzk.de/lca/edoc"
           targetNamespace="http://lca.jrc.it/ILCD/LCIAMethod"
           elementFormDefault="qualified"
           version="1.1">
   <xs:import namespace="http://lca.jrc.it/ILCD/Common"
              schemaLocation="ILCD_Common_Groups.xsd"/>
   <xs:redefine schemaLocation="ILCD_Common_Validation.xsd">
      <xs:simpleType name="ScopeOfReviewValues">
         <xs:restriction base="ScopeOfReviewValues">
            <xs:enumeration value="Raw data"/>
            <xs:enumeration value="Documentation"/>
         </xs:restriction>
      </xs:simpleType>
      <xs:simpleType name="MethodOfReviewValues">
         <xs:restriction base="MethodOfReviewValues">
            <xs:enumeration value="Validation of data sources"/>
            <xs:enumeration value="Sample tests on calculations"/>
            <xs:enumeration value="Cross-check with other source"/>
            <xs:enumeration value="Cross-check with other data set"/>
            <xs:enumeration value="Compliance with ISO 14040 to 14044"/>
            <xs:enumeration value="Expert judgement"/>
         </xs:restriction>
      </xs:simpleType>
   </xs:redefine>
   <xs:complexType name="AdministrativeInformationType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:commissionerAndGoal" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-92" name="commissionerAndGoal"/>
                  <ilcd:display-name>Commissioner and goal</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Extract of the information items linked to goal and scope of LCIA method modeling.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dataGenerator" type="DataGeneratorType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-94" name="dataGenerator"/>
                  <ilcd:display-name>Data generator</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Expert(s), that compiled and modelled the data set as well as internal administrative information linked to the data generation activity.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToFateAndEffectModelLangUniqueConstraint">
               <xs:selector xpath="lciamethod:referenceToFateAndEffectModel"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="dataEntryBy" type="DataEntryByType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-96" name="dataEntryBy"/>
                  <ilcd:display-name>Data entry by</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Staff or entity, that documented the generated data set, entering the information into the database; plus administrative information linked to the data entry activity.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="publicationAndOwnership" type="PublicationAndOwnershipType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-98" name="publicationAndOwnership"/>
                  <ilcd:display-name>Publication and ownership</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Information related to publication and version management of the data set including copyright and access restrictions.</xs:documentation>
            </xs:annotation>
            <xs:unique name="accessRestrictionsLangUniqueConstraint">
               <xs:selector xpath="common:accessRestrictions"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceDeclarationsType" mixed="false">
      <xs:sequence>
         <xs:element name="compliance" type="ComplianceType" minOccurs="1" maxOccurs="unbounded"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ComplianceType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:ComplianceGroup"/>
         <xs:element ref="common:nomenclatureCompliance" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-92" name="nomenclatureCompliance"/>
                  <ilcd:display-name>Nomenclature compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Nomenclature compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:methodologicalCompliance" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-91" name="methodologicalCompliance"/>
                  <ilcd:display-name>Methodological compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Methodological compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:reviewCompliance" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-93" name="reviewCompliance"/>
                  <ilcd:display-name>Review compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Review/Verification compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:documentationCompliance" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-3-22-94" name="documentationCompliance"/>
                  <ilcd:display-name>Documentation compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Documentation/Reporting compliance of this data set with the respective requirements set by the "compliance system" refered to.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataEntryByType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:DataEntryByGroup1"/>
         <xs:element ref="common:referenceToConvertedOriginalDataSetFrom" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-96-249" name="referenceToOriginOfDataSet"/>
                  <ilcd:display-name>Reference to origin of data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set" of the database or data set publication from which this data set has been obtained by conversion. This can cover e.g. conversion to a different format, applying a different nomenclature, mapping of flow names, conversion of units, etc. This may however not have changed or re-modeled the Inputs and Outputs, i.e. obtaining the same LCIA results. This entry is required for converted data sets stemming originally from other LCA databases (e.g. when re-publishing data from IISI, ILCD etc. databases). [Note: Identically re-published data sets are identied in the field "Unchanged re-publication of:" in the section "Publication and Ownership".]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:group ref="common:DataEntryByGroup2"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataGeneratorType">
      <xs:sequence>
         <xs:element name="referenceToFateAndEffectModel" type="common:StringMultiLang"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21-94-241" name="referenceToFateAndEffectModel"/>
                  <ilcd:display-name>Reference to fate and effect model</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Reference to "UUID of source"(s) in the "Source data set". Reference to impact model in its specific settings used to calculate the LCIA factors.
    </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:referenceToPersonOrEntityGeneratingTheDataSet"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-5-26-99" name="referenceToPersonOrEntityGeneratingTheDataSet"/>
                  <ilcd:display-name>Data set generator / modeller</ilcd:display-name>
                  <ilcd:iso-field-id>3.5</ilcd:iso-field-id>
                  <ilcd:iso-field-name>Data generator</ilcd:iso-field-name>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Contact data set" of the person(s), working group(s), organisation(s) or database network, that generated the data set, i.e. being responsible for its
      correctness regarding methods, inventory, and documentative information.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:referenceToRawDataDocumentation" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-5-26-101" name="referenceToRawDataDocumentation"/>
                  <ilcd:display-name>Raw data documentation</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set" of source(s) where the raw data of the Process is documented. (External data sources used for deriving the (final) raw data are identified
      in the field "Data sources used for this data set" in the section "Data sources, treatment and representativeness".)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSetInformationType" mixed="false">
      <xs:sequence>
         <xs:element ref="common:UUID">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-201" name="UUID"/>
                  <ilcd:display-name>UUID of LCIA method data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Automatic entry: Computer-generated Universally Unique Identifier of LCIA data set. Together with the "Data set version" the UUID uniquely identifies each
      data set.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:name" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-202" name="name"/>
                  <ilcd:display-name>Name of LCIA method</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Name of the LCIA method or sub-method.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="methodology" type="MethodologyType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-208" name="methodology"/>
                  <ilcd:display-name>Methodology</ilcd:display-name>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Methodology</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="classificationInformation" type="common:ClassificationInformationType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="2-9-36-143" name="classificationInformation"/>
                  <ilcd:display-name>Category and classification information</ilcd:display-name>
                  <ilcd:iso-field-id>(1.2.3), 1.2.4</ilcd:iso-field-id>
                  <ilcd:iso-field-name>(Group), (Receiving environment)</ilcd:iso-field-name>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Hierachical classification of the Flow property foreseen to be used to structure the Flow property content of the database. (Note: This entry is NOT required
      for the identification of the Flow property data set. It should nevertheless be avoided to use identical names for Flow properties in the same class.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:generalComment" minOccurs="0" maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-207" name="generalComment"/>
                  <ilcd:display-name>General comment</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>General information about the data set, including e.g. general (internal, not reviewed) quality statements as well as information sources used. (Note: Please also check the more specific fields e.g. on "Intended application", "Advice on data set use" and the fields in the "Modelling and validation" section to avoid overlapping entries.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="DataSourcesTreatmentAndRepresentativenessType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-84-219" name="referenceToDataSource"/>
                  <ilcd:display-name>Reference to data source</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Source data set" of data source(s) used for the value of this specific Input or Output, especially if differing from the general data source used for this
      data set.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToDataSourceShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="percentageOfSafeguardObjectProblemFieldOrTopicCovered" type="common:Perc"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-84-221" name="percentageOfSafeguardObjectProblemFieldOrTopicCovered"/>
                  <ilcd:display-name>Percentage of safeguard object, problem field or topic covered</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Indicates the general degree of coverage of the named impact theme by the LCIA method. Given is the percentage of the (environmental or other) problem field,
      safeguard object(s) or topic(s) addressed in the LCIA method, which is covered by the elementary flows for which an impact factor is provided. For mid-point methods addessing
      (environmental or other) problem fields this can be determined e.g. by referring to a known or estimated normalisation basis. Please note, that it depends on the specific
      process and its emissions whether an LCIA method can appropriately address the potential impact of that process.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowExchangeType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToFlowDataSet" type="common:GlobalReferenceType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-260" name="referenceToFlowDataSet"/>
                  <ilcd:display-name>Reference to flow data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Reference to "UUID of flow" of "Flow data set" to link the particular impact factor in the "LCIA data set" to the respective "Flow data set". Please be aware,
      that for location-specific LCIA methods, there may be multiple references to the same Flow data set.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToFlowDataSetShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="location" type="common:String" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-261" name="location"/>
                  <ilcd:display-name>Location of exchange</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Location where exchange of elementary flow occurs. Used only for those LCIA methods, that make use of such information. This information refers to the entry
      within the same field in the "Process data set".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="exchangeDirection" type="common:ExchangeDirectionValues">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-262" name="exchangeDirection"/>
                  <ilcd:display-name>Exchange direction</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Direction of exchange; this information refers to the entry within the same field in the "Process data set".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="meanValue" type="common:Real">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-263" name="meanValue"/>
                  <ilcd:display-name>Mean value ( of LCIA characterisation factor)</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Mean value of the impact characterisation factor for the exchange identified by the fields "Reference to flow data set", "Exchange direction" and "Location of
      direction". It is recommended to report only significant digits of the amount. ! If for an elementary flow its relevant contribution to this LCIA theme is known by
      state-of-the-art scientific knowledge, but no impact factor is provided in the LCIA method, the flow should nevertheless be referrenced and the mean value to be entered is
      "0"!</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="minimumValue" type="common:Real" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-264" name="minimumValue"/>
                  <ilcd:display-name>Minimum value</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Minimum value of the characterisation factor for the exchange in case uncertainty distribution is uniform or triangular.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="maximumValue" type="common:Real" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-265" name="maximumValue"/>
                  <ilcd:display-name>Maximum value</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Maximum value of the characterisation factor for the exchange in case uncertainty distribution is uniform or triangular.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="uncertaintyDistributionType"
                     type="common:UncertaintyDistributionTypeValues"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-266" name="uncertaintyDistributionType"/>
                  <ilcd:display-name>Uncertainty distribution type</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Defines the kind of uncertainty distribution that is valid for this particular object or parameter.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="relativeStandardDeviation95In" type="common:Perc" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-267" name="relativeStandardDeviation95In"/>
                  <ilcd:display-name>Relative StdDev in %</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>The resulting overall uncertainty of the calculated variable value considering uncertainty of measurements, modelling, appropriateness etc. [Notes: For log-normal distribution the square of the geometric standard deviation (SDg^2) is stated. Mean value times SDg^2 equals the 97.5% value (= Maximum value), Mean value divided by SDg^2 equals the 2.5% value (= Minimum value). For normal distribution the doubled standard deviation value (2*SD) is entered. Mean value plus 2*SD equals 97.5% value (= Maximum value), Mean value minus 2*SD equals 2.5% value (= Minimum value). This data field remains empty when uniform or triangular uncertainty distribution is applied.]</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dataSourceType" type="common:DataSourceTypeValues" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-268" name="dataSourceType"/>
                  <ilcd:display-name>Data source type</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Label type indicator for each single LCIA factor regarding the data source type being either "primary" or "secondary".</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="dataDerivationTypeStatus" type="common:DataDerivationTypeStatusValues"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-269" name="dataDerivationTypeStatus"/>
                  <ilcd:display-name>Data derivation type / status</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Identifies the way by which the individual Input / Output amount was derived (e.g. measured, estimated etc.), respectively the status and relevancy of missing data.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referencesToDataSource" type="ReferencesToDataSourceType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-270" name="referenceToDataSource"/>
                  <ilcd:display-name>Reference to data source(s)</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Reference to "UUID of source"(s) in the "Source data set" of data source(s) used for modelling the value of this single LCIA factor e.g. a specific paper,
      questionnaire, monography etc. If, as typical, more than one data source was used, more than one source can be referenced.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="generalComment" type="common:StringMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-272" name="generalComment"/>
                  <ilcd:display-name>General comment</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>General information about the data set, including e.g. general (internal, not reviewed) quality statements as well as information sources used. (Note: Please also check the more specific fields e.g. on "Intended application", "Advice on data set use" and the fields in the "Modelling and validation" section to avoid overlapping entries.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="FlowsExchangesType" mixed="false">
      <xs:sequence>
         <xs:element name="flowExchange" type="FlowExchangeType" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100" name="flowExchange"/>
                  <ilcd:display-name>Flows / Exchanges</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
            <xs:unique name="flowGeneralCommentLangUniqueConstraint">
               <xs:selector xpath="lciamethod:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="GeographyType" mixed="false">
      <xs:sequence>
         <xs:element name="locationOfValidity" type="LocationOfValidityType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76-212" name="locationOfValidity"/>
                  <ilcd:display-name>Location of LCIA method validity</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Location or region for which the LCIA method is valid / modelled. Two-letter ISO 3166 country codes (exlusive nomenclature) extended by seven-letter regional
      codes (exclusive nomenclature) for regions, continents plus codes for market areas and market organisations (inclusive nomenclature). Location/cities and companies' names can
      also be used here (user defnied).</xs:documentation>
            </xs:annotation>
            <xs:unique name="locationDescriptionOfRestrictionsLangUniqueConstraint">
               <xs:selector xpath="lciamethod:descriptionOfRestrictions"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="subLocationOfValidity" type="SubLocationOfValidityType" minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76-213" name="subLocationOfValidity"/>
                  <ilcd:display-name>Sub-location of LCIA method validity</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Geographical sub-unit(s) of "Location of LCIA method validity" which further specify the data availability below the Location-level. Such sub-units can be
      e.g. sites of a company, countries of a region or few sites in a country (while info on limited representativeness has to be provided especially in such cases, of course).
      Note that for single sites, this field is empty or identical entries have to be in the field "Location of operation, supply or production" unless the single site is
      considered representative for a higher geograpical unit.</xs:documentation>
            </xs:annotation>
            <xs:unique name="subLocationDescriptionOfRestrictionsLangUniqueConstraint">
               <xs:selector xpath="lciamethod:descriptionOfRestrictions"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ImpactModelType" mixed="false">
      <xs:sequence>
         <xs:element name="LCIAMethodDescriptionAndIncludedSubMethods" type="common:FTMultiLang"
                     minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-215" name="LCIAMethodDescriptionAndIncludedSubMethods"/>
                  <ilcd:display-name>LCIA method description and included sub-methods</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Description of the fate and exposure model used for the LCIA factors including specific environmental conditions. If the LCIA method comprises sub-methods,
      the relevant corresponding sub-methods should be reported here as well. Professional nomenclature should be used for the description. The description helps the user to judge
      the applicability of the data set for the specific purpose.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToIncludedSubMethods" type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-216" name="referenceToIncludedSubMethods"/>
                  <ilcd:display-name>Reference to included sub-methods</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>For LCIA methods that combine sub-methods to a total-factor: reference to "UUID of LCIA method" of included LCIA data sets.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToIncludedSubMethodsShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="generalApplicability" type="common:FTMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-217" name="generalApplicability"/>
                  <ilcd:display-name>General applicability</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Description of the possible or intended general applicability of the LCIA method.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="referenceToLCIAMethodFlowDiagrammOrPicture"
                     type="common:GlobalReferenceType"
                     minOccurs="0"
                     maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78-218" name="referenceToLCIAMethodFlowDiagrammOrPicture"/>
                  <ilcd:display-name>LCIA method flow diagramm or picture</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Allows to specify flow diagramms of the LCIA method's model such as e.g. compartment-models.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LCIAMethodDataSetType" mixed="false">
      <xs:sequence>
         <xs:element name="LCIAMethodInformation" type="LCIAMethodInformationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17" name="LCIAMethodInformation"/>
                  <ilcd:display-name>LCIA method information</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="modellingAndValidation" type="ModellingAndValidationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19" name="modellingAndValidation"/>
                  <ilcd:display-name>Modelling and validation</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Covers the five sub-sections 1) LCIA method (fields to be defined in 2006), 2) Data sources, treatment and representativeness (fields partly to be defined in
      2006), 3) Completeness (use to be decided upon in 2006), 4) Validation, and 5) Compliance.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="administrativeInformation" type="AdministrativeInformationType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-21" name="administrativeInformation"/>
                  <ilcd:display-name>Administrative information</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Information required for data set management and administration.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="flowsExchanges" type="FlowsExchangesType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23" name="flowsExchanges"/>
                  <ilcd:display-name>Flows / Exchanges</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>t</ilcd:field-motivation>
               </xs:appinfo>
               <xs:documentation>Flow / Exchanges list with corresponding impact factors according to the respective LCIA method.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="version" type="common:SchemaVersion" use="required"/>
      <xs:attribute name="locations" type="common:String"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LCIAMethodInformationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataSetInformation" type="DataSetInformationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70" name="dataSetInformation"/>
                  <ilcd:display-name>Data set information</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
            <xs:unique name="nameLangUniqueConstraint">
               <xs:selector xpath="common:name"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="synonymsLangUniqueConstraint">
               <xs:selector xpath="common:synonyms"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="generalCommentLangUniqueConstraint">
               <xs:selector xpath="common:generalComment"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="quantitativeReference" type="QuantitativeReferenceType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-72" name="quantitativeReference"/>
                  <ilcd:display-name>Quantitative reference</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>This section allows to refer to the LCIA method's quantitative reference, which is always a unit (that one, in which the characteraisation factors are
      measured, e.g. "kg CO2-Equivalents")</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="time" type="common:TimeType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-74" name="time"/>
                  <ilcd:display-name>Time</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
            <xs:unique name="timeRepresentativenessDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:timeRepresentativenessDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element name="geography" type="GeographyType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76" name="geography"/>
                  <ilcd:display-name>Geography</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation/>
            </xs:annotation>
         </xs:element>
         <xs:element name="impactModel" type="ImpactModelType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-78" name="impactModel"/>
                  <ilcd:display-name>Impact model</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Provides information about the general representativity of the data set and about its composition of sub-LCIA-methods.</xs:documentation>
            </xs:annotation>
            <xs:unique name="LCIAMethodDescriptionAndIncludedSubMethodsLangUniqueConstraint">
               <xs:selector xpath="lciamethod:LCIAMethodDescriptionAndIncludedSubMethods"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="generalApplicabilityLangUniqueConstraint">
               <xs:selector xpath="lciamethod:generalApplicability"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LocationOfValidityType">
      <xs:sequence>
         <xs:element name="descriptionOfRestrictions" type="common:StringMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76-214" name="descriptionOfRestrictions"/>
                  <ilcd:display-name>Description of / restrictions for location or sublocation</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Further explanations about additional aspects of the location: e.g. a company and/or site description and address, whether for certain sub-areas within the "Location" the data set is not valid, whether data is only valid for certain regions within the location indicated, or whether certain elementary flows or intermediate product flows are extrapolated from another geographical area.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="location" type="common:String" use="required">
         <xs:annotation>
            <xs:appinfo>
               <ilcd:element id="3-17-76-212" name="locationOfValidity"/>
               <ilcd:display-name>Location of LCIA method validity</ilcd:display-name>
               <ilcd:iso-field-id>0</ilcd:iso-field-id>
               <ilcd:iso-field-name/>
               <ilcd:field-requirement>m</ilcd:field-requirement>
            </xs:appinfo>
            <xs:documentation>Location or region for which the LCIA method is valid / modelled. Two-letter ISO 3166 country codes (exlusive nomenclature) extended by seven-letter regional
      codes (exclusive nomenclature) for regions, continents plus codes for market areas and market organisations (inclusive nomenclature). Location/cities and companies' names can
      also be used here (user defnied).</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="MethodologyType">
      <xs:choice>
         <xs:element name="standardMethod" type="common:StandardMethodTypeValues">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-209" name="standardMethod"/>
                  <ilcd:display-name>Standard method</ilcd:display-name>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Standard method</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="userMethod" type="xs:string">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-70-210" name="userMethod"/>
                  <ilcd:display-name>User method</ilcd:display-name>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>User method</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:choice>
   </xs:complexType>
   <xs:complexType name="ModellingAndValidationType" mixed="false">
      <xs:sequence>
         <xs:element name="dataSourcesTreatmentAndRepresentativeness"
                     type="DataSourcesTreatmentAndRepresentativenessType"
                     minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-84" name="dataSourcesTreatmentAndRepresentativeness"/>
                  <ilcd:display-name>Data sources, treatment and representativeness</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Data selection, completeness and treatment principles and procedures.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="validation" type="ValidationType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-88" name="validation"/>
                  <ilcd:display-name>Validation</ilcd:display-name>
                  <ilcd:iso-field-id/>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Review information on LCIA method.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="complianceDeclarations" type="ComplianceDeclarationsType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-90" name="complianceDeclarations"/>
                  <ilcd:display-name>Compliance</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
               </xs:appinfo>
               <xs:documentation>Statements on compliance of several data set aspects with compliance requirements as defined by the referenced compliance system (e.g. an EPD scheme, handbook of a national or international data network such as the ILCD, etc.).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="PublicationAndOwnershipType" mixed="false">
      <xs:sequence>
         <xs:group ref="common:PublicationAndOwnershipGroup1"/>
         <xs:group ref="common:PublicationAndOwnershipGroup2"/>
         <xs:element ref="common:referenceToOwnershipOfDataSet" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="1-5-30-115" name="referenceToOwnershipOfDataSet"/>
                  <ilcd:display-name>Owner of data set</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>r</ilcd:field-motivation>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>"Contact data set" of the person or entity who owns this data set. (Note: this is not necessarily the publisher of the data set.)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:group ref="common:PublicationAndOwnershipGroup3"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="QuantitativeReferenceType" mixed="false">
      <xs:sequence>
         <xs:element name="referenceToReferenceUnitGroup" type="common:GlobalReferenceType">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-72-208" name="referenceToReferenceUnitGroup"/>
                  <ilcd:display-name>Reference to Reference unit group</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Reference to "UUID of unit group" of the "Unit group data set", in which the LCIA method factors are measured. As for each Unit group exact each one reference
      unit is identified, this link at the same time links unambigiously to this reference unit.</xs:documentation>
            </xs:annotation>
            <xs:unique name="referenceToReferenceUnitGroupShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ReferencesToDataSourceType">
      <xs:sequence>
         <xs:element name="referenceToDataSource" type="common:GlobalReferenceType" minOccurs="0">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-23-100-270" name="referenceToDataSource"/>
                  <ilcd:display-name>Reference to data source(s)</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>o</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Reference to "UUID of source"(s) in the "Source data set" of data source(s) used for modelling the value of this single LCIA factor e.g. a specific paper,
      questionnaire, monography etc. If, as typical, more than one data source was used, more than one source can be referenced.</xs:documentation>
            </xs:annotation>
            <xs:unique name="flowReferenceToDataSourceShortDescriptionLangUniqueConstraint">
               <xs:selector xpath="common:shortDescription"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ReviewType">
      <xs:sequence>
         <xs:group ref="common:ValidationGroup1"/>
         <xs:group ref="common:ValidationGroup3"/>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="type" type="common:TypeOfReviewValues" use="required"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="SubLocationOfValidityType">
      <xs:sequence>
         <xs:element name="descriptionOfRestrictions" type="common:StringMultiLang" minOccurs="0"
                     maxOccurs="100">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-17-76-214" name="descriptionOfRestrictions"/>
                  <ilcd:display-name>Description of / restrictions for location or sublocation</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-requirement>r</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Further explanations about additional aspects of the location: e.g. a company and/or site description and address, whether for certain sub-areas within the "Location" the data set is not valid, whether data is only valid for certain regions within the location indicated, or whether certain elementary flows or intermediate product flows are extrapolated from another geographical area.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="subLocation" type="common:String" use="required">
         <xs:annotation>
            <xs:appinfo>
               <ilcd:element id="3-17-76-213" name="subLocationOfValidity"/>
               <ilcd:display-name>Sub-location of LCIA method validity</ilcd:display-name>
               <ilcd:iso-field-id>0</ilcd:iso-field-id>
               <ilcd:iso-field-name/>
               <ilcd:field-requirement>o</ilcd:field-requirement>
            </xs:appinfo>
            <xs:documentation>Geographical sub-unit(s) of "Location of LCIA method validity" which further specify the data availability below the Location-level. Such sub-units can be
      e.g. sites of a company, countries of a region or few sites in a country (while info on limited representativeness has to be provided especially in such cases, of course).
      Note that for single sites, this field is empty or identical entries have to be in the field "Location of operation, supply or production" unless the single site is
      considered representative for a higher geograpical unit.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="ValidationType">
      <xs:sequence>
         <xs:element name="review" type="ReviewType" maxOccurs="unbounded">
            <xs:annotation>
               <xs:appinfo>
                  <ilcd:element id="3-19-88-1" name="type"/>
                  <ilcd:display-name>Type of review</ilcd:display-name>
                  <ilcd:iso-field-id>0</ilcd:iso-field-id>
                  <ilcd:iso-field-name/>
                  <ilcd:field-motivation>q</ilcd:field-motivation>
                  <ilcd:field-requirement>m</ilcd:field-requirement>
               </xs:appinfo>
               <xs:documentation>Type of review that has been performed regarding independency and type of review process.</xs:documentation>
            </xs:annotation>
            <xs:unique name="ScopeUniqueConstraint">
               <xs:selector xpath="common:scope"/>
               <xs:field xpath="@name"/>
            </xs:unique>
            <xs:unique name="reviewDetailsUniqueConstraint">
               <xs:selector xpath="common:reviewDetails"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
            <xs:unique name="otherReviewDetailsLangUniqueConstraint">
               <xs:selector xpath="common:otherReviewDetails"/>
               <xs:field xpath="@xml:lang"/>
            </xs:unique>
         </xs:element>
         <xs:element ref="common:other" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:element name="LCIAMethodDataSet" type="LCIAMethodDataSetType">
      <xs:annotation>
         <xs:appinfo>
            <ilcd:element id="3" name="LCIAMethodDataSet"/>
            <ilcd:display-name>LCIA Method data set</ilcd:display-name>
            <ilcd:iso-field-name>LCIA Method Dataset</ilcd:iso-field-name>
         </xs:appinfo>
      </xs:annotation>
   </xs:element>
</xs:schema>